<%= form_for :article, url: articles_path do |f| %>
  <h1>
    Enter your cell phone number please and be suprised by a message to your phone: 
  </h1>
  <%= f.text_label :phone_number %>
  <%= f.text_field :phone_number, require: true %>
  <%= f.submit %>
<% end %>

